.column img{
  max-width: 90%;
  max-height: auto;
}

.column{
  /*float: left;*/
  max-width: 80%;
  border-width: 1%;
  margin: auto;
  margin-bottom: 5%;
  padding: 3%;
  box-sizing: border-box;
  border-radius: 25px;
  border-style: double none;
  border-color: white;
  box-shadow: 8px 5px 8px rgba(240, 152, 130, 0.9);
}

.column p{
  max-width: 80%;
  margin: auto;
}

body{
  background-color: rgb(240, 209, 202);
  text-align: center;
  font-family: 'El Messiri', sans-serif;
}

#animal1{
  background-color: aqua;
}

#animal2{
  background-color:aquamarine;
}

#animal3{
  background-color:bisque;
}
h2{
  font-weight: 700;
}

.intro h2{
  font-weight: 300;
}

.intro {
  max-width: 85%;
  margin: auto;
  padding-bottom: 30px;
}